body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
.quiz-container{
 
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}
#quiz {
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#question-container{
  margin-bottom: 1.25em;
  font-weight: 600;
}
h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #666;
}
button {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
  color: #000000; /* Added color property for normal state */
  cursor: pointer; /* Added cursor property for normal state */
  transition: background-color 0.2s ease; /* Added transition for hover effect */
}

button:disabled {
  color: #999999; /* Changed color for disabled state */
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
  color: #ffffff; /* Changed text color for hover state */
}


.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container button {
  margin: 0 0.5rem;
}
.results {
  margin-top: 2rem;
}
.results h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}
.results p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #666;
}
